*{
    box-sizing: border-box;
}
body {
background-color: #000000;
margin: 5px;
}
.container-fluid{
    background-color: #000000;
}
.logo{
    text-align: center;
}
.h1{
    text-align: center;
    color:rgb(236, 37, 203);
    font-family: cursive;
}
h3, h4{
    color: #40c4ff; 
    font-size: calc(.272rem + 2vw);
    font-style: oblique;
    font-family: fantasy;
}
main{
    align-items: center;
}
li,ul, div{
    color: 	aliceblue;
}
footer{
    background-color: #212121 ;
    padding: 18px;
}
nav{
    color: aliceblue;
}
li{
    list-style: none;
}

#face, #what, #inst{
    color: rgb(236, 37, 203);
    font-size: 20px;
}
.icono{ 
  padding: 5px;
  margin: 10px;
}
footer{
    background-color: transparent; 
    text-align: center;   
}


