*{
    box-sizing: border-box;
}
body {
background-color: rgb(0, 0, 0);
margin: 5px;
}


.container-fluid{
    background-color: #000000;
}
h2, h3, h4{
    color: #76ff03 ; 
    font-size: calc(.272rem + 2.8vw);
    font-style: oblique;
    font-family: cursive;
}

li,ul, div{
    color: #c6ff00;
}
footer{
    background-color: #212121 ;
    padding: 18px;
}
nav{
    color: aliceblue;
}
li{
    list-style: none;
}

#face, #what, #inst{
    color: rgb(236, 37, 203);
    font-size: 20px;
}
.icono{ 
  padding: 5px;
  margin: 10px;
}
footer{
    background-color: aliceblue;
}

